/* Styles go here */
body,
* {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
}
h3 {
  color: whitesmoke;
}

/* nav{
    display: grid;
    text-align: center;
    align-content: center;
} */

/* .cont {
  margin: 10% 5%;
} */
.leaflet-container {
  height: 100vh;
}
